@model IEnumerable<MvcBasic.Models.Member>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<table class="table">
    <tr>
        <th>氏名</th><th>メールアドレス</th><th>誕生日</th><th>既婚</th><th>備考</th>
    </tr>
    @foreach(var item in Model)
    {
    <tr>
        <th>@item.Name</th>
        <th>@item.Email</th>
        <th>@item.Birth</th>
        <th>@item.Married</th>
        <th>@item.Memo</th>
    </tr>
    }
</table>